{% extends 'base.html.twig' %}
{% block body %}
	<div class="card">
<!-- Don't fully understand why I need to use eventS. instead of event.....I do not have to (answer in array()):
	//return $this->render('events/details.html.twig', array('event' => $event));-->
		<img class="card-img-top" src="{{event.image}}" alt="Event image">
		<div class="card-body">
			<h5 class="card-title">{{event.name}}</h5>
			<p class="card-text">{{event.description}}</p>
			<hr>
			<ul style="list-style: none">
				<li class="card-text">{{event.frequency}}</li>
				<li class="card-text">{{event.date|date('F j, Y')}}</li>
				<li class="card-text">{{event.time|date('g:i a')}}</li>
				<li class="card-text">Capacity: {{event.capacity}}</li>
			</ul>
			<hr>
			<ul style="list-style: none">
				<li>{{event.street}}</li>
				<li>{{event.postalCode}}</li>
				<li>{{event.city}}</li>
				<li>{{event.country}}</li>
			</ul>
		</div>
		<div class="card-footer">
			<a href="{{event.link}}"><small class="text-muted"><i class="fas fa-globe mr-2"></i>{{event.link}}</small></a>
			<br>
			<small class="text-muted"><i class="fas fa-map-marker mr-2 mt-3"></i>{{event.place}}</small>
			<br>
			<small class="text-muted"><i class="fas fa-phone mr-2 my-3"></i>{{event.phone}}</small>
			<br>
			<small class="text-muted"><i class="fas fa-at mr-2"></i>{{event.email}}</small>
			<br>
			<a class="btn btn-outline-secondary mt-3 mb-2" href="/">Back to All Event</a>
			<a href="/event/edit/{{event.id}}" class="btn btn-info mt-3 mb-2">Edit</a>
			<a href="/delete/{{event.id}}" class="btn btn-danger mt-3 mb-2">Delete</a> 
		</div>
	</div> 
{% endblock %}